body{
	/*background-image: url(../images/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}
header{
	background-image: url(../images/back.jpg);
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 70px;
}
.main{
	background: rgba(0,0,0,0.2);
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

h1{
	text-align: center;
	padding: 5px;
	color: #cccccc;
	text-transform: uppercase;
}
li{
	background: blue;
	border: 1px solid red;
	width:100px;
	margin: 20px;
	color: #fff;
	float: left;
	

}
a{
	color: #fff;
	text-transform: uppercase;

}
footer{
	background: darkblue;
	width: 100%;
	padding: 20px;
	color: #fff;
}

.fa-phone{
	
	padding: 5px;
	border-radius: 10px;
	text-align: left;
}

.fa-whatsapp{
	
	padding: 5px;
	border-radius: 10px;
	text-align: left;
}
.fa-facebook{
	
	padding: 5px;
	border-radius: 10px;
	text-align: left;
}


