body{
	background-color: black;
	width: 1200px;

}

header{
	background-color: blue;
	color: #ccc;
	font font-size: 40px;
	width:1000px;
	text-align: center;
	height: 120px;
	margin: 0px auto;
	margin-top: 0px;
	padding:20px;
}

.cont{
margin:0px auto;
width:1000px;


}